<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="at.ac.tuwien.ifs.bpse.medium.persistence.interfaces.ExamMapper">

	<resultMap id="ExamResult" type="Exam">
		<association property="course" column="courseId" javaType="Course"
			select="selectCourse" />
	</resultMap>
	
	<select id="selectExam" parameterType="int" resultMap="ExamResult">
		select *
		from exam where id = #{id}
	</select>

	<select id="selectCourse" parameterType="int" resultType="Course">
		select
		* from course where id = #{courseId}
	</select>

	<insert id="insertExam" parameterType="Exam" useGeneratedKeys="true"
		keyProperty="id">
		insert into Exam
		(exdate, location, courseId)
		values
		(#{exdate,javaType=Date,jdbcType=TIMESTAMP},#{location,jdbcType=VARCHAR},#{course.id,jdbcType=INTEGER})
	</insert>
	<update id="updateExam" parameterType="Exam">
		update Exam set
		id=#{id},
		exdate=#{exdate}, location=#{location}, courseId=#{course.id}
		where id =
		#{id}
	</update>
	<delete id="deleteExam" parameterType="int">
		delete from Exam
		where id =
		#{id}
	</delete>

</mapper>