<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="at.ac.tuwien.ifs.bpse.medium.persistence.interfaces.ProfessorMapper">

	
	<select id="selectProfessor" parameterType="int" resultMap="ProfessorResult"> 
		select p.id as pid, p.officenr as onr, p.firstname as fn, p.lastname as ln, p.email as email,
				c.id as cid, c.title as title, c.ects as ects
		
		from Professor p
		left outer join course_professor on p.id = course_professor.professorId
		left outer join course c on course_professor.courseId = c.id
		
		where p.id = #{id}
	</select>

	<resultMap id="ProfessorResult" type="Professor">
		<id property="id" column="pid" />
			<result property="officenr" column="onr" />
			<result property="firstname" column="fn" />
			<result property="lastname" column="ln" />
			<result property="email" column="email" />
		<collection property="courses" javaType="ArrayList" ofType="Course">
		<id property="id" column="cid" />
			<result property="title" column="title" />
			<result property="ects" column="ects" />
		</collection>
	</resultMap>
	
		<select id="selectProfessorByOfficeNr" parameterType="int"
		resultType="Professor">
		select * from professor where officenr = #{officenr}
	</select>
	<insert id="insertProfessor" parameterType="Professor"
		useGeneratedKeys="true" keyProperty="id">
		insert into professor
		(officenr,firstname,lastname,email)
		values
		(#{officenr,jdbcType=CHAR},#{firstname,jdbcType=VARCHAR},#{lastname,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
	</insert>
	<update id="updateProfessor" parameterType="Professor">
		update professor set
		id=#{id}, officenr=#{officenr}, firstname=#{firstname}, lastname=#{lastname}, email=#{email}
		where id = #{id}
	</update>
	<delete id="deleteProfessor" parameterType="int">
		delete from professor
		where id = #{id}
	</delete>
</mapper>