<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
              
     <context:annotation-config />
     
	<bean id="wicketApplication" 
		class="at.ac.tuwien.ifs.bpse.web.WicketApplication">
	</bean>
	
	<!-- Initialize iBATIS -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:bpse-sample-medium"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <property name="poolPreparedStatements" value="true"/>
    </bean>

    <!-- iBATIS 3 -->
    <bean id="transactionFactory" class="at.ac.tuwien.ifs.bpse.medium.persistence.SpringTransactionFactory">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>
    <bean id="environment" class="org.apache.ibatis.mapping.Environment">
        <constructor-arg index="0" value="default"/>
        <constructor-arg index="1" ref="transactionFactory"/>
        <constructor-arg index="2" ref="dataSource"/>
    </bean>
    <bean id="sqlSessionFactory" 
    	class="at.ac.tuwien.ifs.bpse.medium.persistence.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:iBatisConfiguration.xml"/>
        <property name="environment" ref="environment"/>
    </bean>
</beans>