<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="at.ac.tuwien.ifs.bpse.medium.persistence.interfaces.StudentMapper">
	<select id="selectStudent" parameterType="int"
		resultType="Student">
		select * from student where id = #{id}
	</select>
	<select id="selectStudentByMatrNr" parameterType="int"
		resultType="Student">
		select * from student where matnr = #{matnr}
	</select>
	<insert id="insertStudent" parameterType="Student"
		useGeneratedKeys="true" keyProperty="id">
		insert into student
		(matnr,firstname,lastname,email)
		values
		(#{matnr,jdbcType=CHAR},#{firstname,jdbcType=VARCHAR},#{lastname,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
	</insert>
	<update id="updateStudent" parameterType="Student">
		update student set
		matnr=#{matnr}, firstname=#{firstname}, lastname=#{lastname}, email=#{email}
		where id = #{id}
	</update>
	<delete id="deleteStudent" parameterType="int">
		delete from student
		where id = #{id}
	</delete>
</mapper>