<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="at.ac.tuwien.ifs.bpse.persistence.interfaces.StudentExamMapper">
	<select id="selectStudentExam" parameterType="int"
		resultType="StudentExam">
		select * from StudentExam where id = #{id}
	</select>
	<select id="selectExamByStudent" parameterType="int"
		resultType="StudentExam">
		select * from StudentExam where studentId = #{id}
	</select>
	<select id="selectExamByTutor" parameterType="int"
		resultType="StudentExam">
		select * from StudentExam where tutorId = #{id}
	</select>
	<insert id="insertStudentExam" parameterType="StudentExam"
		useGeneratedKeys="true" keyProperty="id">
		insert into StudentExam
		(studentId, tutorId, examId)
		values
		(#{student.id,jdbcType=INTEGER},#{tutor.id,jdbcType=INTEGER},#{exam.id.id,jdbcType=INTEGER})
	</insert>
	<update id="updateStudentExam" parameterType="StudentExam">
		update StudentExam set
		studentId=#{student.id}, tutorId=#{tutor.id}, examId=#{exam.id}
		where id = #{id}
	</update>
	<delete id="deleteStudentExam" parameterType="int">
		delete from StudentExam
		where id = #{id}
	</delete>
</mapper>